<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>{% block title %}Chinese Wushu &amp; Taichi Academy{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body,td,th {
	font-family: myriad-pro, helvetica, arial;
}
</style>

{% block head %}
<link rel="stylesheet" type="text/css" href="/styles/styles.css" />

<script type="text/javascript" src="/scripts/typekit-modified.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-064037F46T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-064037F46T');
</script>


{% endblock %}

</head>
<body id="{% block pageId %}{% endblock %}">
{% block contentHeader %}
<div class="navbar-top">
	{% block navbar %}
	<div id="navbar">
	<ul>
		<li id="sitelogo"><a href="/"><img src="images/logo.png" alt="Chinese Wushu<br/>&amp; Taichi Academy"/></a></li>
		<li><a href="/classes">Classes</a></li>
		<li><a href="/instructors">Instructors</a></li>
		<li><a href="/chen">Chen Taichi</a></li>
		<li><a href="/yang">Yang Taichi</a></li>
		<li><a href="/resources">Resources</a></li>
		<li class="fb"><a href="https://www.facebook.com/Chinese-Wushu-Taichi-Academy-LLC-723069047833536/">
			<img src="/images/FB-f-Logo__white_50.png" alt="Find us on Facebook!" width="25" height="25" />
			&nbsp;<!-- this is required to get the image to behave the same regardless of whether the span is displayed -->
			<span>Find us on Facebook!</span>
		</a>
	</ul>
	</div>

	{% endblock %}s
</div>
{% endblock %}
{% block content %}

{% endblock %}
{% block contentFooter %}

<div class="photobar contact" id="contact">
	<div class="inner">
		
		<div class="location">

			<ul>

				<li>
					<h2>Headquartered in <strong>Mercer Island</strong></h2>
					<div class="address">
					2827 80th Ave SE<br/>Mercer Island, WA 98040
					</div>
					
					<div class="contactInfo">
						<div id="phone">206-749-9513</div>
						<div id="email"><a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a></div>
					</div>
				</li>

				<li>
					<a href="https://goo.gl/maps/nH1Co88AH6ZE86G37" class="map" target="_blank" title="2827 80th Ave SE, Mercer Island, WA 98040"/>&nbsp;</a>
				</li>

				<li>
					<img src="/images/school-exterior.jpg" alt="Exterior of school"  />
				</li>

				<li>
					<img src="/images/school-interior.jpg" alt="Interior of school"  />
				</li>
			</ul>

		</div>
		
		<div class="breaker">&nbsp;</div>
	</div>
</div>


{% endblock %}
{% block htmlFooter %}

<script src="/scripts/jquery-1.9.1.js"></script>
<script src="/scripts/cwta.js"></script>


{% endblock %}

</body>
</html>

