{% extends "base.html" %}

{% block title %}Resources - Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}resources{% endblock %}

{% block content %}
<div class="photobar resources">
	<div class="inner">
		<h1><span>Resources</span></h1>
	</div>
</div>
<div class="solidbar">

	<div class="inner">
	
	<h3>Links</h3>
	<ul class="links">
		<li>
			<a href="https://www.youtube.com/channel/UC2UxYWvwTxLyGOVuuNeMzFg/videos">
				<div class="image"><img src="/images/youtube-logo.png" /></div>
				<div class="title">CWTA Videos on Youtube</div>
				<div class="subtitle">Master Yijiao Hong and senior members demo team</div>
			</a>
		</li>

		<li>
			<a href="http://www.czl.cn">
				<div class="image"><img src="/images/czl-logo.png" /></div>
				<div class="title">Grandmaster Chen Zhenglei</div>
			</a>
		</li>


		<li>
			<a href="https://www.youtube.com/watch?v=anYI1OZNW7E">
				<div class="image"><img src="/images/fu-sheng-yuan.jpg" /></div>
				<div class="title">Grandmaster Fu Sheng Yuan</div>
			</a>
		</li>

		<li>
			<a href="http://www.titanelectric.net">
				<div class="image"><img src="/images/titan-electric-logo.png" /></div>
				<div class="title">Titan Electric</div>
			</a>
		</li>

		<li>
			<a href="http://www.nwasianweekly.com">
				<div class="image"><img src="images/nwaw-logo.jpg" /></div>
				<div class="title">Seattle Chinese Post, Northwest Asian Weekly</div>
			</a>
		</li>
	</ul>


	<h3>Chinese Herbalists and Acupuncturists</h3>

	<ul class="addresses">
		<li>
			<div class="postalAddress">
				<span class="name">Able Acupuncture and Herbal Medicine</span>
				<span class="street1">2448 76th Ave SE #212</span>
				<span class="locality">Mercer Island, WA 98040</span>
			</div>
			<div class="telephone"><a href="tel:206-462-1330">(206) 462-1330</a></div>
			<div class="web"><a href="http://www.ableacu.com">www.ableacu.com</a></div>
		</li>

		<li>
			<div class="postalAddress">
				<span class="name">Acupuncture &amp; Oriental Medical Center</span>
				<span class="street1">731 123rd Ave NE</span>
				<span class="locality">Bellevue, WA 98005</span>
			</div>
			<div class="telephone"><a href="tel:425-462-6662">(425) 462-6662</a></div>
			<div class="web"><a href="http://www.aomcwang.com">www.aomcwang.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Acupuncture Oriental Medical Center Seattle</span>
				<span class="street1">9015 Holman Rd NW Suite 1</span>
				<span class="locality">Seattle, WA 98117</span>
			</div>
			<div class="telephone"><a href="tel:206-782-2126">(206) 782-2126</a></div>
			<div class="web"><a href="http://www.aomcseattle.com">www.aomcseattle.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Allspring Acupuncture PLLC</span>
				<span class="street1">4444 NE Sunset Blvd Suite 2</span>
				<span class="locality">Renton, WA 98059</span>
			</div>
			<div class="telephone"><a href="tel:425-269-4161">(425) 269-4161</a></div>
			<div class="web"><a href="http://www.allspringacupuncture.com">www.allspringacupuncture.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Chinese Herb Specialist: Vincent Chiu</span>
				<span class="street1">316 Maynard Ave. S. #106</span>
				<span class="locality">Seattle, WA 98104</span>
			</div>
			<div class="telephone"><a href="tel:206-430-3783">(206) 430-3783</a></div>
			<div class="web"><a href="mailto:vincentwchiu@icloud.com">vincentwchiu@icloud.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Chinese Medical Center: Dr. Xindong Rosey MA</span>
				<span class="street1">326 Queen Anne Ave. N</span>
				<span class="locality">Seattle, WA 98109</span>
			</div>
			<div class="telephone"><a href="tel:206-363-8160">(206) 363-8160</a></div>
			<div class="web"><a href="http://www.seattlechinesemedicalcenter.com">www.seattlechinesemedicalcenter.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Kang Acupuncture</span>
				<span class="street1">11226 NE 15th Street</span>
				<span class="locality">Bellevue, WA 98004</span>
			</div>
			<div class="telephone"><a href="tel:425-401-8885">(425) 401-8885</a></div>
			<div class="web"><a href="http://www.kangacupunctureherbs.com">www.kangacupunctureherbs.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Mercer Island Acupuncture & Oriental Medicine</span>
				<span class="street1">2955 80th Ave SE #108</span>
				<span class="locality">Mercer Island, WA 98040</span>
			</div>
			<div class="telephone"><a href="tel:206-232-0886">(206) 232-0886</a></div>
			<div class="web"><a href=https://www.miacupuncture.com/">www.miacupuncture.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Northwest Alternative Healing Center</span>
				<span class="street1">1515 116th Ave NE #205</span>
				<span class="locality">Bellevue, WA 98004</span>
			</div>
			<div class="telephone"><a href="tel:206-528-1038">(206) 528-1038</a></div>
			<div class="web"><a href="http://www.chineseacupuncture.com">www.chineseacupuncture.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Treetop Acupuncture</span>
				<span class="street1">4061 4th Ave NE</span>
				<span class="locality">Seattle, WA 98105</span>
			</div>
			<div class="telephone"><a href="tel:206-323-3277">(206) 323-3277</a></div>
			<div class="web"><a href="http://www.treetopacupuncture.com">www.treetopacupuncture.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Washington State Acupuncture And Chinese Medicine Center</span>
				<span class="street1">663 S King St</span>
				<span class="locality">Seattle, WA 98104</span>
			</div>
			<div class="telephone"><a href="tel:206-292-9646">(206) 292-9646</a></div>
			<div class="web"><a href="http://acupunctureomd.com">acupunctureomd.com</a></div>
		</li>
		<li>
			<div class="postalAddress">
				<span class="name">Ying Zhang He - Massage</span>
				<span class="street1">626 S Jackson St</span>
				<span class="locality">Seattle, WA 98104</span>
			</div>
			<div class="telephone"><a href="tel:206-652-0696">(206) 652-0696</a></div>
		</li>
	</ul>				
		
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>





{% endblock %}

{% block htmlFooter %}

{{ super() }}

{% endblock %}
