{% extends "base.html" %}

{% block title %}Classes - Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}schedule{% endblock %}

{% block content %}
<div class="photobar schedule">
	<div class="inner">
		<h1><span>Class Schedule</span></h1>
	</div>
	
	<ul class="week">
		<li><div class="inner">
			<div class="dayname">Sunday</div>
            <div class="event">
				<div class="time">3:00pm - 4:00pm</div>
				<div class="name">Intermediate Chen Style Taichi (Mandarin Speaking)</div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Monday</div>
            <div class="event">
				<div class="time">10:30am - 11:30am</div>
				<div class="name">Intermediate Yang Style Taichi 24</div>
			</div>
			<div class="event">
				<div class="time">7:30pm - 8:30pm</div>
				<div class="name">Beginners Yang Style Taichi 24</div>
			</div>

		</div></li>
		<li><div class="inner">
			<div class="dayname">Tuesday</div>
			<div class="event">
				<div class="time">6:00pm - 7:00pm</div>
				<div class="name">Yang Style Taichi</div>
			</div>
			<div class="event">
				<div class="time">7:00pm - 8:15pm</div>
				<div class="name">Intermediate Chen Style Taichi</div>
			</div>

		</div></li>
		<li><div class="inner">
			<div class="dayname">Wednesday</div>
			<div class="event">
				<div class="time">6:00pm - 8:15pm</div>
				<div class="name">Advanced Chen Style Taichi and Weapons</div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Thursday</div>
           	<div class="event">
				<div class="time">9:30am - 10:30am</div>
				<div class="name">Beginners Yang Style Taichi 24*</div>
			</div>
            <div class="event">
				<div class="time">7:30pm - 8:30pm</div>
				<div class="name">Beginners Chen Style Taichi <em>(starting in October)</em></div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Friday</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Saturday</div>
			<div class="event">
				<div class="time">8:30am - 9:45am</div>
				<div class="name">Intermediate Chen Style Taichi</div>
			</div>
			<div class="event">
				<div class="time">9:45am - 11:25am</div>
				<div class="name">Advanced Yang Style Taichi and Longsword</div>
			</div>
		</div></li>
	</ul>
	
	<div class="breaker">&nbsp;</div>
</div>
<div class="solidbar" id="schedule">

	<div class="primary">
		<h3>Tuition and Fees</h3>
		
        <div class="class">
			<h4>Beginners Chen Style Taichi</h4>
			<div class="time">Thursdays 7:30pm - 8:30pm, starting Oct. 10, 2013</div>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em>, assisted by Sifu Blake Emery</div>
            <div class="description">
                <p>Taught by Master Yijiao Hong, and assisted by Sifu Blake Emery. 
                Master Hong (an official disciple of Grandmaster Chen Zhenglei) will give in-depth, step-by-step instruction on authentic Chen Taichi form movements, and Qigong warm-ups from Traditional Chinese Medicine, using the latest in physical learning science. You will also learn how Taichi originated from ancient Chinese philosophy and Chinese medicine. This class will emphasize the skills of self-centering, body relaxation, and slow breathing as you practice form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way. </p>
    
                <div class="tuition">Tuition: $160, plus $50 for registration and uniforms.</div>
			</div>
        </div>
        
		<div class="class">
			<h4>Intermediate Chen Style Taichi</h4>
			<div class="time">Sundays 3:00pm - 4:00pm (Mandarin speaking)</div>
			<div class="time">Tuesdays 7:00pm - 8:15pm (assisted by Blake Emery)</div>
			<div class="time">Saturdays 8:30am - 9:45am (refining Old Frame 1, assisted by Larry Fung)</div>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em></div>
            <div class="description">
			<p>Covers Chen Style Taichi Silk Reeling, and Old Frame I.</p>
			</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
		</div>
		
		<div class="class">
			<h4>Advanced Chen Style Taichi and Weapons</h4>
			<div class="time">Wednesdays 6:00pm - 8:15pm</div>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em></div>
			<div class="description">
			<p>Covers Old Frame 1 & 2, push hands, New Frame, saber and longsword.</p>
			</div>
			<div class="tuition">
            	<div>Tuition: <strong>$300</strong></div>
				<div>Tuition: <strong>$330</strong> (including saber and longsword)</div>
            </div>
		</div>
		
		<div class="class">
			<h4>Beginners Yang Style Taichi 24</h4>
			<div class="time">Mondays 7:30pm - 8:30pm</div>
            <div class="instructors">Instructor: <em>Sifu James Guidon</em>, supervised by Master Yijiao Hong</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
            
            <div class="time">Thursdays 9:30am - 10:30am, starting October 10, 2013</div>
			<div class="instructors">Instructors: <em>Master Yijiao Hong</em></div>
            <div class="description">
			<p>Covers Yang Style 24 Forms for beginners.</p> 
			<p>*Note: Thursday morning class is held at the Mercer Island Community Center. To register, call the Mercer Island Community Center at 206-275-7609</p>
			
			</div>
			<div class="tuition">Tuition: <strong>$155</strong> for Mercer Island residents, <strong>$185</strong> for non-Islanders</div>
		</div>
		
        <div class="class">
			<h4>Intermediate Yang Style Taichi 24</h4>
			<div class="time">Mondays 10:30am - 11:30am</div>
            <div class="instructors">Instructor: <em>James Guidon</em>, supervised by Master Yijiao Hong</div>
            
            <div class="time">Tuesdays 6:00pm - 7:00pm</div>
            <div class="instructors">Instructors: <em>Master Yijiao Hong</em>, assisted by Joan Lange</div>
            
			<div class="description">
			<p>Covers Yang Style 24 Forms, some push hands and 85 forms for intermediate students</p>
			
			</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
		</div>
        

		<div class="class">
			<h4>Advanced Yang Style Taichi</h4>
			<div class="time">Saturdays 9:45am - 11:25am</div>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em>, assisted by James Guidon</div>
			<div class="description">
			<p>Covers Yang Style 24, 40, and 85 Forms, push hands, and Yang Style 32 Forms Longsword.</p>
			</div>
			<div class="tuition">Tuition: <strong>$260</strong></div>
		</div>
		
		
		<div class="registration">
		<p><strong>Submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now</strong></p>
		
		<p><a href="#contact">Contact us with any questions.</a>
		</div>
	</div>
	
	<div class="secondary">
		<h3>Quarter Schedule</h3>
		<div class="sidebar-content">
			<p>CWTA operates on a quarterly schedule, each quarter lasting 10 weeks.</p>
			
			<div class="quarter-schedule">
			<p>For 2013, the quarter schedule is:</p>
			<ul>
				<li>1st quarter: January 7 - March 17</li>
				<li>2nd quarter: April 8 - June 16</li>
				<li>3rd quarter: July 15 - September 22</li>
				<li>4th quarter: October 7 - December 15</li>
			</ul>		
			</div>
		</div>
		
		<h3>Registration &amp; Payment</h3>
		<div class="sidebar-content">
			<p>If you are new, submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now! Add $50 
			for uniform and registration fee.</p>
			
			<p>Payment is due before the end of the previous quarter. Payments 
			received after the due date are subject to a $20 late fee.</p>
			 
			<p>Please make checks payable to CWTA LLC.</p>
			
			<p class="warning">Please note: no refund / mininum one quarter commitment</p>
		</div>
        
        <h3>Makeup Policy</h3>
        <div class="sidebar-content">
         Sometimes students will miss one or more classes due to an out of town trip, sickness etc. Students can make up classes by attending any similar class that occurs on another day. Please check with instructor to see what classes are available to use as make up classes. Also, instructors are available 10 minutes Before and after class to work with you on the new movements when you return to class.
        </div>
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>

<div class="photobar private-lessons">
	<div class="inner">
		<h2><span>Private Lessons</span></h2>
	</div>
</div>
<div class="solidbar" id="private-lessons">
	
	<p>For private Yang Style Taichi Lessons, contact Sifu 
	James Guidon at 206-527-0144 ($50/hour/person)</p>
	
    <p>James is a graduate of the University of Washington with a Bachelors of Fine Arts Degree in Painting.
	He has been learning and practicing Internal Martial Arts since 1979. He has been teaching Yang Style Taichi since 1993; twelve years with the Chinese Wushu and Taichi Academy. James is currently a student of Master Yijiao Hong and has been since 1997. James completed teacher training program in 2000 with Master Hong and is certified Yang Style Taichi instructor with over 20 years experience working with the Art of taichi to bring body and mind in Harmony and to experience the benefit of this practice - Health and Tranquility.
	</p>
</div>

{% endblock %}

{% block htmlFooter %}

{{ super() }}


{% endblock %}
