{% extends "base.html" %}

{% block title %}Schedule - Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}schedule{% endblock %}

{% block content %}
<div class="photobar schedule">
	<div class="inner">
		<h1><span>Class Schedule</span></h1>
	</div>
	
	<ul class="week">
		<li><div class="inner">
			<div class="dayname">Sunday</div>
			<div class="event">
				<div class="time">3:30pm - 4:30pm</div>
				<div class="name">Chen Style Taichi <em>(Mandarin Speaking)</em></div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Monday</div>
			
		</div></li>
		<li><div class="inner">
			<div class="dayname">Tuesday</div>
			<div class="event">
				<div class="time">5:45pm - 7:00pm</div>
				<div class="name">Yang Style Taichi</div>
			</div>
			<div class="event">
				<div class="time">7:00pm - 8:15pm</div>
				<div class="name">Chen Style Taichi</div>
			</div>

		</div></li>
		<li><div class="inner">
			<div class="dayname">Wednesday</div>
			<div class="event">
				<div class="time">6:00pm - 8:15pm</div>
				<div class="name">Advanced Chen Style Taichi and Weapons</div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Thursday</div>
			<div class="event">
				<div class="time">9:45am - 11:00am</div>
				<div class="name">Beginners Yang Style Taichi <em>(Held at Mercer 
				Island Community Center, 206-275-7609)</em></div>
			</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Friday</div>
		</div></li>
		<li><div class="inner">
			<div class="dayname">Saturday</div>
			<div class="event">
				<div class="time">8:30am - 9:45am</div>
				<div class="name">Chen Style Taichi</div>
			</div>
			<div class="event">
				<div class="time">9:45am - 11:25am</div>
				<div class="name">Advanced Yang Style Taichi and Longsword</div>
			</div>
		</div></li>
	</ul>
	
	<div class="breaker">&nbsp;</div>
</div>
<div class="solidbar" id="schedule">

	<div class="primary">
		<h3>Tuition and Fees</h3>
		
		<div class="class">
			<h4>Chen Style Taichi</h4>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em>, assisted by Blake Emery and Larry Fung</div>
			<div class="time">Sundays 3:30pm - 4:30pm (Mandarin Speaking)</div>
			<div class="time">Sundays 7:00pm - 8:15pm</div>
			<div class="time">Sundays 8:30am - 9:45am</div>
			<div class="description">
			<p>Covers Chen Style Taichi Silk Reeling, and Old Frame I.</p>
			</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
		</div>
		
		<div class="class">
			<h4>Advanced Chen Style Taichi and Weapons</h4>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em></div>
			<div class="time">Wednesdays 6:00pm - 8:15pm</div>
			<div class="description">
			<p>Covers Old Frame 1 & 2, push hands, New Frame, saber and longsword.</p>
			</div>
			<div class="tuition">Tuition: <strong>$300</strong></div>
			<div class="tuition">Tuition: <strong>$330</strong> (including saber and longsword)</div>
		</div>
		
		<div class="class">
			<h4>Beginning Yang Style Taichi</h4>
			<div class="instructors">Instructors: <em>Master Yijiao Hong</em>, assisted by James Guidon and Joan Lange</div>
			<div class="time">Thursday 9:45am - 11:00am</div>
			<div class="description">
			<p>Covers Yang Style 24 Forms for beginners. Held at the Mercer Island Community Center.</p> 
			<p>Note: To register, call the Mercer Island Community Center at 206-275-7609</p>
			
			</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
		</div>
		
		<div class="class">
			<h4>Yang Style Taichi</h4>
			<div class="instructors">Instructors: <em>Master Yijiao Hong</em>, assisted by James Guidon and Joan Lange</div>
			<div class="time">Tuesdays 5:45pm - 7:00pm</div>
			<div class="description">
			<p>Covers Yang Style 24 Forms, push hands, and Yang Style 85 Forms.</p>
			</div>
			<div class="tuition">Tuition: <strong>$200</strong></div>
		</div>	

		<div class="class">
			<h4>Advanced Yang Style Taichi</h4>
			<div class="instructors">Instructor: <em>Master Yijiao Hong</em></div>
			<div class="time">Saturdays 9:45am - 11:25am</div>
			<div class="description">
			<p>Covers Yang Style 24, 40, and 85 Forms, push hands, and Yang Style 32 Forms Longsword.</p>
			</div>
			<div class="tuition">Tuition: <strong>$260</strong></div>
		</div>
		
		
		<div class="registration">
		<p><strong>Submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now</strong></p>
		
		<p><a href="#contact">Contact us with any questions.</a>
		</div>
	</div>
	
	<div class="secondary">
		<h3>Quarter Schedule</h3>
		<div class="sidebar-content">
			<p>CWTA operates on a quarterly schedule, each quarter lasting 10 weeks.</p>
			
			<div class="quarter-schedule">
			<p>For 2013, the quarter schedule is:</p>
			<ul>
				<li>1st quarter: January 7 - March 17</li>
				<li>2nd quarter: April 8 - June 16</li>
				<li>3rd quarter: July 15 - September 22</li>
				<li>4th quarter: October 7 - December 15</li>
			</ul>		
			</div>
		</div>
		
		<h3>Registration &amp; Payment</h3>
		<div class="sidebar-content">
			<p>If you are new, submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now! Add $50 
			for uniform and registration fee.</p>
			
			<p>Payment is due before the end of the previous quarter. Payments 
			received after the due date are subject to a $20 late fee.</p>
			 
			<p>Please make checks payable to CWTA LLC.</p>
			
			<p class="warning">Please note: no refund / mininum one quarter commitment</p>
		</div>
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>

<div class="photobar private-lessons">
	<div class="inner">
		<h2><span>Private Lessons</span></h2>
	</div>
</div>
<div class="solidbar" id="private-lessons">
	
	<p>For private Yang Style Taichi Lessons, contact Sifu 
	James Guidon at 206-527-0144 ($50/hour/person)</p>

</div>

{% endblock %}

{% block htmlFooter %}

{{ super() }}


{% endblock %}
