{% extends "base.html" %}

{% block title %}Classes - Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}schedule{% endblock %}

{% block content %}
<div class="photobar schedule">
	<div class="inner">
		<h1><span>Class Schedule</span></h1>
	</div>
	
	<table class="week">
	<tr>
		<th>
			<div class="dayname">Sunday</div>
		</th><th>
			<div class="dayname">Monday</div>
		</th><th>
			<div class="dayname">Tuesday</div>
		</th><th>
			<div class="dayname">Wednesday</div>
		</th><th>
			<div class="dayname">Thursday</div>
		</th><th>
			<div class="dayname">Friday</div>
		</th><th>
			<div class="dayname">Saturday</div>
		</th>
	</tr>
	<tr>
		<td>
			<!-- Sunday -->
			<div class="event">
				<div class="time">9:00am - 10:00am</div>
				<div class="name">Chen Style Taichi for Beginners (starts Oct. 11, 2020)</div>
			</div>
			<div class="event">
				<div class="time">10:00am - 11:15am</div>
				<div class="name">Chen Style Taichi 18 Forms &amp; Old Frame 1</div>
			</div>
		</td><td>
			<!-- Monday -->
			<div class="event">
				<div class="time">6:00pm - 7:15pm/7:30pm</div>
				<div class="name">Chen Style Taichi 18 Forms, Old Frame 1, Push Hands, Advanced All Apparatus, &amp; New Frame 1</div>
			</div>
			<div class="event">
				<div class="time">7:30pm - 8:30pm</div>
				<div class="name">Chen Style Taichi 18 Forms</div>
			</div>
		</td><td>
			<!-- Tuesday -->
			<div class="event">
				<div class="time">8:45am - 10:30am</div>
				<div class="name">30 Minute Private Lessons with Master Hong - by appointment only <strong>(at 2827 80<sup>th</sup> Ave SE, Mercer Island)</strong></div>
			</div>
			<div class="event">
				<div class="time">6:00pm - 7:15pm/7:30pm</div>
				<div class="name">Yang Style Taichi 24 and 85 Forms, Push Hands</div>
			</div>
			<div class="event">
				<div class="time">7:30pm - 8:30pm</div>
				<div class="name">Yang Style Taichi 24 Forms</div>
			</div>
		</td><td>
			<!-- Wednesday -->
			<div class="event">
				<div class="time">9:30am - 10:30am</div>
				<div class="name">Yang Taichi 24 Forms for Beginners (starts Jul. 15, 2020)</div>
			</div>
			<div class="event">
				<div class="time">10:30am - 11:30am</div>
				<div class="name">Yang Style Taichi 24 Forms, 32 Forms Sword, &amp; Push Hands</div>
			</div>
			<div class="event">
				<div class="time">6:00pm - 7:00pm</div>
				<div class="name">Chen Style Taichi for Beginners (starts Jul. 15, 2020)</div>
			</div>
			<div class="event">
				<div class="time">7:15pm - 8:30pm</div>
				<div class="name">Chen Style Taichi Silk Reeling, 18 Forms &amp; Old Frame 1</div>
			</div>
		</td><td>
			<!-- Thursday -->
			

		</td><td>
			<!-- Friday -->
		</td><td>
			<!-- Saturday -->
			<div class="event">
				<div class="time">8:45am - 10:00am</div>
				<div class="name">Yang Style Taichi 24 Forms</div>
			</div>
			<div class="event">
				<div class="time">10:00am - 11:30am</div>
				<div class="name">Yang Style Taichi 24, 85 Forms, Sword &amp; Push Hands</div>
			</div>
		</td>
	</tr>
	</table>
	

	<div class="locationNote"><div class="inner"><strong>Note:</strong> all classes held at Seattle HQ unless otherwise noted</div></div>
	<div class="breaker">&nbsp;</div>
</div>
<div class="solidbar" id="schedule">

	<div class="primary">

		<div class="class-list">
			<div class="covid-warning"><strong>During the COVID-19 pandemic, all classes are being held online</strong>. When safe, classes will be held at Seattle HQ, except those noted at Mercer Island</div>

			<h3>Private Seminars</h3>
			<p>Interested in Taichi seminars for a corporation, academic institution, or community center? Please email Master YiJiao Hong at <a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a>.</p>

			<h3>New Beginners Classes for 2020</h3>
			

			<div class="class">
				<h4>Yang Style Taichi for Beginners</h4>
				<div class="time">Wednesdays 9:30am-10:30am <span class="startDate">(starting Jul. 15, 2020)</span></div>
				<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
				<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
				<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
			</div>

			<div class="class">
				<h4>Chen Style Taichi for Beginners</h4>
				<div class="time">Wednesdays 6:00pm - 7:00pm <span class="startDate">(starting Jul. 15, 2020)</span></div>
				<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
				<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
				<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
			</div>

			<div class="class">
				<h4>Chen Style Taichi for Beginners</h4>
				<div class="time">Sundays 9:00am - 10:00am <span class="startDate">(starting Oct. 11, 2020)</span></div>
				<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>	
				<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
				<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
			</div>
		</div>

		<div class="description">
			<p>Welcome to Yijiao Hong's taichi class! Begin a lifelong journey of destressing through correct body posture, authentic Taichi moves, and slow, even and deeper breaths to a calm mind and better health. Have fun with Chinese cultural experiences too! Master Hong will give in-depth, step-by-step instruction on authentic Yang and Chen Taichi movements and Qigong warm-ups from Traditional Chinese Medicine, using the latest in physical learning science. Master Hong will also talk about how Taichi originated from ancient Chinese philosophy, Chinese medicine and Qigong. The beginning class will emphasize the skills of self-centering, body relaxation, and slow breathing while practicing form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way.</p> 

			<p>
			<strong>Taichi is an ideal aerobic exercise for life time. </strong>
			Do you know that practicing Taichi maintains spine health and increases bone density? It is beneficial to the cardio-vascular, respiratory, and nervous systems, digestive system, balance and also improves circulation of Chi. Master Hong's long-term Taichi students report that practicing Taichi helps alleviate hypertension, asthma, knee pain, and stress, while also improving mental, body strength and overall happiness.
			</p>
		</div>


	</div>
	<div class="secondary">

		<h3>Quarter Schedule</h3>
		<p>CWTA operates on a quarterly schedule, each quarter lasting 10-12 weeks.</p>
		
		<div class="quarter-schedule">
		<h3>2020</h3>
		<ul>
			<li><strong>1st quarter:</strong> January 4 - March 27 (12 weeks)</li>
			<li><strong>2nd quarter:</strong> April 13 - June 21 (10 weeks)</li>
			<li><strong>3rd quarter:</strong> July 13 - September 20 (10 weeeks). 
			<li><strong>4th quarter:</strong> October 5 - December 20 (10 weeks)
				<div class="note">No classes Thanksgiving week November 23-29</div>
			</li>
		</ul>

		<p></p>
		</div>


		<h3>Registration &amp; Payment</h3>
		
		<p>If you are new, submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now! Add $50 
		for uniform and registration fee.</p>
		
		<p>Payment is due before the end of the previous quarter. Payments 
		received after the due date are subject to a $20 late fee.</p>
		 
		<p>Please make checks payable to CWTA LLC.</p>
		
		<p class="warning">Please note: no refund / mininum one quarter commitment</p>
        

        <h3>Makeup Policy</h3>
    	<p>
         Sometimes students will miss one or more classes due to an out of town trip, sickness etc. Students can make up classes by attending any similar class that occurs on another day. Please check with instructor to see what classes are available to use as make up classes. Also, instructors are available 10 minutes Before and after class to work with you on the new movements when you return to class.
        </p>

		<div class="registration">
		<p><strong>Submit a <a href="images/CWTA_registration_form.pdf">registration form</a> to register now</strong></p>
		
		<p><a href="#contact">Contact us with any questions.</a>
		</div>
	</div>
	
	<div class="secondary">
		
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>

<div class="photobar private-lessons">
	<div class="inner">
		<h2><span>Private Lessons</span></h2>
	</div>
</div>
<div class="solidbar private-lessons" id="private-lessons">

	<h3>Private Lessons - by Appointment Only</h3>
	<table>
		<colgroup>
			<col />
			<col />
			<col class="rate" />
		</colgroup>
		<tr>
			<th>Level/Type</th>
			<th>Instructor(s)</th>
			<th>Rate (Per Person)</th>
		</tr>
		<tr>
			<td>Beginning/Intermediate Level Yang Style Taichi</td>
			<td>Instructor James Guidon</td>
			<td><strong>$70/hour</strong></td>
		</tr>
		<tr>
			<td>Beginning/Intermediate Level Chen Style Taichi</td>
			<td>Instructor Larry Fung or Instructor Yuxi Hong</td>
			<td><strong>$70/hour</strong></td>
		</tr>
		<tr>
			<td>Advanced Level/Special Needs Yang or Chen Style Taichi</td>
			<td>Master Yijiao Hong </td>
			<td><strong>$70/30 minutes</strong></td>
		</tr>
	</table>

</div>

{% endblock %}

{% block htmlFooter %}

{{ super() }}


{% endblock %}
