{% extends "base.html" %}

{% block title %}Chen Zhenglei 2016 Seminar - Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}czl2016{% endblock %}

{% block content %}
<div class="photobar czl2016">
	<div class="inner">
		<h1><span>Chen Zhenglei 2016 Seminar</span></h1>
	</div>
</div>
<div class="solidbar" id="recap">

	<h3>The Light of Taichi Summer Camp</h3>
	<div class="primary">
		<div class="dates">May 28<sup>th</sup> to June 1<sup>st</sup>, 2016 &middot; Seattle, WA</div>

		<p>
		The Chinese Wushu and Taichi Academy, in partnership with the Chen Zhenglei Taichi Training Center and Confucius Institution of the State of Washington, co-hosted a lecture by Grandmaster Chen Zhenglei at the University of Washington Kane Hall on June 1st. Check out photos of the event, including performances by Grandmaster Chen’s disciples and China’s Queen of Taichi, Master Gao Jiamin!
		</p>

	</div>

	<div class="secondary">
		<div class="programGuide">
			<a class="thumbnail" href="/images/czl2016/czl2016_CWTA_20th_Anniversary_program_book.pdf">
				<img src="/images/czl2016_program_book_thumb.jpg" />
			</a>
			<a href="/images/czl2016/czl2016_CWTA_20th_Anniversary_program_book.pdf">
				<div class="caption">Official Program Book</div>
			</a>
			<div class="fileInfo">PDF (9.3MB)</div>
		</div>
	</div>

	<div class="breaker">&nbsp;</div>

	<h4>Special Thanks</h4>
	<p>Special thanks to our school members for helping make this 20th anniversary celebration happen.</p>
	<dl>
		<dt>Financial supporters</dt>
		<dd>Larry Fung, Rebecca Ip and Ruoxi Zhang</dd>

		<dt>Chief editor of Program Book</dt>
		<dd>Rebecca Ip</dd>

		<dt>Photographer</dt>
		<dd>Rebecca Ip and Grace Zhang</dd>
		<dt>Filming</dt> 
		<dd>Peter Wu and Michael Ganyo</dd>

		<dt>Media</dt>
		<dd>Rebecca Ip and Grace Zhang</dd>

		<dt>Airport pick ups</dt>
		<dd>Blake Emery, Larry Fung, RongSen Zhang, Bohan Bing, James Ding Ying Jian</dd>

		<dt>Evening program volunteers</dt>
		<dd>John Yii, Rachel Yu, Duke Bhuphaibool, Jim Merrill, Yuxi Hong, James Ding, RongSen Zhang, Ron Bing, Tom Hashmen</dd>

		<dt>Summer Camp attendees</dt>
		<dd>James Guidon, Joan Laage, Larry Fung, Marinda Chen, Jenya Burstein, Duke Bhuphaibool, Chris Laterza, Tom Hashmen, Rebecca Ip, Nancy Wilson, John Yii, Yijiao Hong, Lin Zhong, Jayne Chiu, and others</dd>
	</dl>

	<h4>Taichi Silk Reeling Warmups <span class="byline">with UW Staff, Faculty and CWTA Students</span></h4>
	<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HHhMtRQEkiY" frameborder="0" allowfullscreen></iframe></p>

	<h4>Chen Taichi Old Frame 2 <span class="byline">performed by CWTA Students</span></h4>
	<p><iframe width="560" height="315" src="https://www.youtube.com/embed/NwquNmOuxrY" frameborder="0" allowfullscreen></iframe></p>

	<h4>Chen Taichi Sword <span class="byline">performed by Master Yijiao Hong</span></h4>
	<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Qo9mxX4wjr4" frameborder="0" allowfullscreen></iframe></p>

	<h4>More Videos</h4>
	<p>See <a href="https://www.youtube.com/playlist?list=PLbTKvrBU8Ol8TavCkZDqnkIdwgomR54_-">all videos from the seminar</a></p>

	<h4>In the News</h4>
	<div class="articlethumb">
		<a href="/images/czl2016/czl2016_CWTA_Yijiao_Hong_20th_article.pdf">
			<img src="/images/czl2016_scp_article_thumb.jpg" />
			<div class="caption">Seattle Chinese Post (Article)</div>
		</a>
		<div class="fileInfo">PDF (1.1MB)</div>
	</div>
	<div class="articlethumb">
		<a href="/images/czl2016/czl2016_CWTA_Pictorial.pdf">
			<img src="/images/czl2016_scp_pictorial_thumb.jpg" />
			<div class="caption">Seattle Chinese Post (Pictorial)</div>
		</a>
		<div class="fileInfo">PDF (1.8MB)</div>
	</div>
	<div class="articlethumb">
		<a href="/images/czl2016/czl2016_CWTA_NWAW_20THANNIVERSARY_Pictorial.pdf">
			<img src="/images/czl2016_nwaw_pictorial_thumb.jpg" />
			<div class="caption">Northwest Asian Weekly (Pictorial)</div>
		</a>
		<div class="fileInfo">PDF (2.7MB)</div>
	</div>

	<h4>Event Photographs</h4>
	<div class="gallery">
		<div class="picture">
			<img src="images/czl2016/DSC_0001.jpg" alt="before the show" />
			<div class="caption">Before the show - senior CWTA students Larry Fung, Blake Emery, Joan Laage, Marinda Chen, Dave Lion, Tom Hashman, Duke B. and others</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0005.jpg" alt="before the show Master Bin Chen, his wife XianXian Wang and Dr. Jack Yan" />
			<div class="caption">Before the show - with Master Bin Chen, his wife XianXian Wang and Dr. Jack Yan</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0006.jpg" alt="before the show Master XiaoMing Xu, Master Hai Jun Wang, Master Byron Hartman and Master Viola Brumbaugh" />
			<div class="caption">Before the show - with Master XiaoMing Xu, Master Hai Jun Wang, Master Byron Hartman and Master Viola Brumbaugh</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0010.jpg" alt="Welcoming remarks by MC Assunta Ng, publisher of Seattle Chinese Post and Northwest Asian Weekly" />
			<div class="caption">Welcoming remarks by MC Assunta Ng, publisher of Seattle Chinese Post and Northwest Asian Weekly</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0020.jpg" alt="VIP speech by State Representative Sharon Tomiko Santos" />
			<div class="caption">VIP speech by State Representative Sharon Tomiko Santos</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0021.jpg" alt="VIP speech by Lt. Governor Brad Owen" />
			<div class="caption">VIP speech by Lt. Governor Brad Owen</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0030.jpg" alt="Keynote speech by Grandmaster Chen, translated by Dr. Jack Yan" />
			<div class="caption">Keynote speech by Grandmaster Chen, translated by Dr. Jack Yan</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0035.jpg" alt="Remarks of Appreciation by Master Yijiao Hong" />
			<div class="caption">Remarks of Appreciation by Master Yijiao Hong</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0040.jpg" alt="CWTA and UW Staff demonstrate Chen Taichi Silk Reeling" />
			<div class="caption">CWTA and UW Staff demonstrate Chen Taichi Silk Reeling

				<p>UW staff , faculty and members of CWTALLC James Guidon, Joan Laage, Larry Fung, Marinda Chen, Jenya Burstein, Bomani Siwatu, Sergio Ibarra, Duke Bhuphaibool, Natacha Kune, Chris Laterza, Tom Hashmen, Catherine Tan, Mark Cornell, Kenya Hart, Adam Lee, Jim Merrill, Tak Ping Leung, Ruxi Hong</p></div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0050.jpg" alt="CWTA group kids Long Fist" />
			<div class="caption">CWTA group kids Long Fist

				<p>Ambrose Leaf, Geo Li, Evan and Lexi Liu, Aaron Yu, Altti and Anna Koskinen</p>
			</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0137.jpg" alt="Alexander Yu on 3 section cudgel (Alexander has won over 20 gold medals)" />
			<div class="caption">Alexander Yu on 3 section cudgel (Alexander has won over 20 gold medals)</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0138.jpg" alt="Alexander Yu on 3 section cudgel (Alexander has won over 20 gold medals)" />
			<div class="caption">Alexander Yu on 3 section cudgel (Alexander has won over 20 gold medals)</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0145.jpg" alt="Tai Chi Queen of China, master Jiamin Gao" />
			<div class="caption">Tai Chi Queen of China, master Jiamin Gao</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0146.jpg" alt="Tai Chi Queen of China, master Jiamin Gao" />
			<div class="caption">Tai Chi Queen of China, master Jiamin Gao</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0158.jpg" alt="Ava Yu on double broadsword (Ava has won over 30 gold medals)" />
			<div class="caption">Ava Yu on double broadsword (Ava has won over 30 gold medals)</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0159.jpg" alt="Ava Yu and Altti Koskinen of CWTA LLC on double broadsword" />
			<div class="caption">Ava Yu and Altti Koskinen of CWTA LLC on double broadsword</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0166.jpg" alt="Master Haijun Wang on Chen Taichi Kwan Dao" />
			<div class="caption">Master Haijun Wang on Chen Taichi Kwan Dao</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0170.jpg" alt="CWTA group Chen Taichi Old Frame Two" />
			<div class="caption">CWTA group Chen Taichi Old Frame Two

				<p>James Guidon, Joan Laage, Larry Fung, Marinda Chen, Jenya Burstein, Bomani Siwatu, Sergio Ibarra, Duke Bhuphaibool, Chris Laterza, Tom Hashmen, and Rebecca Ip</p>
			</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0171.jpg" alt="CWTA group Chen Taichi Old Frame Two" />
			<div class="caption">CWTA group Chen Taichi Old Frame Two</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0172.jpg" alt="CWTA group Chen Taichi Old Frame Two" />
			<div class="caption">WTA group Chen Taichi Old Frame Two</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0194.jpg" alt="Push hands with Byron Hartman and Master Xiaoming Xu" />
			<div class="caption">Push hands with Byron Hartman and Master Xiaoming Xu</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0195.jpg" alt="Push hands with Byron Hartman and Master Xiaoming Xu" />
			<div class="caption">Push hands with Byron Hartman and Master Xiaoming Xu</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0232.jpg" alt="Master Yijiao Hong on Chen Taichi Longsword" />
			<div class="caption">Master Yijiao Hong on Chen Taichi Longsword</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0233.jpg" alt="Master Yijiao Hong on Chen Taichi Longsword" />
			<div class="caption">Master Yijiao Hong on Chen Taichi Longsword</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0254.jpg" alt="Master Bin Chen" />
			<div class="caption">Master Bin Chen</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0258.jpg" alt="CWTA group Chen saber" />
			<div class="caption">CWTA group Chen saber</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0270.jpg" alt="Chen Zhenglei solo performance" />
			<div class="caption">Chen Zhenglei solo performance</div>
		</div>
		<div class="picture portrait">
			<img src="images/czl2016/DSC_0279.jpg" alt="Chen Zhenglei solo performance" />
			<div class="caption">Chen Zhenglei solo performance</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0280.jpg" alt="Chen Zhenglei solo performance" />
			<div class="caption">Chen Zhenglei solo performance</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0308.jpg" alt="Organizers of June 1st event with state officials" />
			<div class="caption">Organizers of June 1st event with state officials</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0316.jpg" alt="Grandmaster Chen Zhenglei and his wife LiLi Lu, their son Master Bin Chen with State offcials and disciples from around world" />
			<div class="caption">Grandmaster Chen Zhenglei and his wife LiLi Lu, their son Master Bin Chen with State offcials and disciples from around world</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0317.jpg" alt="Audience at Kane Hall" />
			<div class="caption">Audience at Kane Hall</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0318.jpg" alt="Audience at Kane Hall" />
			<div class="caption">Audience at Kane Hall</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/DSC_0328.jpg" alt="June 1st Grandmaster Chen Zhenglei Day celebration" />
			<div class="caption">June 1st Grandmaster Chen Zhenglei Day celebration</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/IMG_1862.jpg" alt="Summer camp" />
			<div class="caption">Summer camp</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/IMG_1879.jpg" alt="Summer camp warmup" />
			<div class="caption">Summer camp warmup</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/IMG_1880.jpg" alt="Master Yijiao Hong assisting Master Haijun Wang" />
			<div class="caption">Master Yijiao Hong assisting Master Haijun Wang</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/IMG_2561.jpg" alt="Cultural Counselor Xiao XiaYong and Consul Wang Jun of the Consulate General of The People's Republic of China visiting our school's headquarters" />
			<div class="caption">Cultural Counselor Xiao XiaYong and Consul Wang Jun of the Consulate General of The People's Republic of China visiting our school's headquarters</div>
		</div>
		<div class="picture">
			<img src="images/czl2016/IMG_2562.jpg" alt="Summer camp group picture" />
			<div class="caption">Summer camp group picture</div>
		</div>


	</div>


	<div class="breaker">&nbsp;</div>
</div>



{% endblock %}

{% block htmlFooter %}

{{ super() }}


{% endblock %}
