{% extends "base.html" %}

{% block title %}Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}homepage{% endblock %}

{% block contentHeader %}
<div class="photobar title navbar-top">
	<div class="inner">
		<div id="largelogo">
			<img src="images/logo_chars.png" />
			<h1>Chinese Wushu &amp;<br/> Taichi Academy</h1>
		</div>
		
		<div class="blurb"><p>
		The Chinese Wushu &amp; Tai Chi Academy was established by 
		Master Yijiao Hong in 1996. For over a decade, CWTA has 
		fostered thousands of students, teaching them Tai Chi 
		and Wushu. Master Hong has trained students in Wushu and 
		Taichi throughout the metropolitan Seattle/Tacoma area. 
		Master Hong also offers seminars and workshops to Seattle 
		area elementary schools, high schools, universities, 
		and corporations.
		</p></div>
	</div>
	{% block navbar %}{{ super() }}{% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="photobar about">
	<div class="inner">
		<h2><span>Master Yijiao Hong</span></h2>
		
		<div class="blurb">
		<p>Master Yijiao Hong is a 12th generation disciple of 
		Chen Style Taichi, studying under Chen family successor 
		and world-renown Grandmaster Chen Zhenglei since 1998. 
		She studied Yang Taichi from Yang family successor and 
		world-renown Grandmaster Fu Shengyuan since 1995.</p>
		
		<p>Master Hong currently offers classes for <a href="/chen">Chen 
		Taichi</a> and <a href="/yang">Yang Taichi</a>.</p>
		
		<p>&rsaquo; <a href="/classes">View Current Class Schedule</a></p>
		</div>
	</div>
</div>
<div class="solidbar" id="about">
	<div class="primary">
		<p><span class="initial-first-word">Born</span> in Jin Hua, China, Master Hong started practicing 
		Wushu with the Jin Hua Wu Shu Team when she was 8 years old. 
		She was the top Wushu athlete and Taichi champion in Zhe 
		Jiang province, China. Master Hong has a B.A. degree in 
		physical education in Wushu and Tai Chi from Zhe Jiang 
		Normal University, China. She became an assistant professor 
		and team coach of Zhe Jiang College of Traditional Chinese 
		Medicine in 1992. She coached the college Wushu and Taichi 
		Team and competed in China national tournaments until she 
		immigrated to Seattle, U.S. in 1994.</p>
	
		<p>Master Hong was named U.S. &quot;Year of the Athlete&quot; by USAWKF 
		in 1998, and competed on the U.S.A National Wushu Team in 
		the 5th World Wushu championship in Hong Kong in 1999, 
		where she ranked 7th among the top world professional 
		Taichi athletes.</p>
	
		<p>In 2000, Master Hong was certified by the International 
		Wushu Federation in Beijing, China as a Wushu International 
		Judge. In 2004, Master Hong earned the highest rank as a 
		Wushu International A Grade Judge in Beijing. Between 1999 
		and 2003, she judged for selection of National Wushu Teams 
		for both the U. S. A. and Canada.</p>
	
		<p>Master Hong's passion in Tai Chi originated from her 
		late teenage years at University, especially after she 
		studied Chinese Medicine for two years and visited Madam 
		Chen Lixing in Xian, China Master Hong's strong belief in 
		Tai Chi's therapeutic value in life and Tai Chi's powerful 
		martial application is a constant source of inspiration for 
		her. Master Hong is a lifetime student of Tai Chi Yang 
		family from Grandmaster Fu Shengyuang and Chen family from 
		Grandmaster Chen Zhenglei, Chen village, China.</p>
	
		<p>Currently, Master Hong is focusing her teaching on Taichi. 
		In addition, she practices Guzheng &mdash; ancient strings, and 
		spends time with her two young children. Her former wushu 
		students are continuing their practice of Wushu at the Seattle 
		Wushu Center, UW Husky Wushu Team, and Northwest Wushu.</p>
	
		<p>Read more <a href="/instructors">about Master Hong</a></p>
	</div>
		
	<div class="secondary">
		<h3>Student Testimonials</h3>
		
		<div class="testimonial">
		<p>CWTCA has three elements that make it a great place to study 
		and practice. Most importantly, Shifu Hong is a wonderful 
		combination of patience, knowledge and competence. Secondly, 
		we have a great connection with Chen Grandmaster Chen Zhenglai 
		who is an absolute treasure to the world taiji community. 
		Last but not least, the people who study here are really fun 
		people who I am proud to have as friends.</p>
		
		<p class="by">&mdash; Blake Emery</p>
		</div>
		
		<div class="testimonial">
		<p>YiJiao Hong is an inspirational martial 
		artist and a wonderful instructor. Her students can always 
		rely on her commitment, dedication and thorough instruction. 
		The school offers diverse styles and many unique experiences 
		as well as opportunities to train with world renowned masters.</p>
		<p class="by">&mdash; Jenya Burstein</p>
		</div>
		
		<div class="testimonial">
		<p>I wanted to learn Chen Style with one 
		of its grand masters, Chen Zhenglei. Sifu Hong helped me begin 
		learning the basic form in preparation for a seminar with 
		Master Chen. Ever since that, I have benefitted greatly from 
		Sifu and the teaching assistants. Sifu is good hearted and 
		genuinely cares about her students' progress from week to week 
		and year to year. She is constantly working on her own practice 
		and very generous in sharing her own learning from Grand Master 
		Chen with us.</p>
		 
		<p>It is fun to try to drop all my mental concerns and put my 
		mind in my body to try to really feel the movements. Taichi has 
		also helped over the years with knee pain from a long ago knee surgery.</p>
		<p class="by">&mdash; Mike McAlister</p>
		</div>
		
		<p class="more">Read more <a href="/instructors#student_testimonials">Student Testimonials</a></p>
		
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>

<div class="photobar news">
	<div class="inner">
		<h2><span>News</span></h2>
	</div>
</div>
<div class="solidbar" id="news">
	<div class="primary">
	<h3>Learn Yang Style Taichi 24 Forms Online</h3>
    <p>Learn and review Yang Style Taichi 24 Forms from international Taichi Grand Champion Yijiao Hong.</p>
    
	
    <h4>24 Forms, in Two Views</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/94098687" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="http://vimeo.com/94098687">View on Vimeo</a></p>
    </div>

    <h4>24 Forms, in Forest</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/95477026" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <p><a href="http://vimeo.com/95477026">View on Viemo</a></p>
    </div>
    
    <h3>New Taichi Classes for 2015</h3>

	<div class="class">
		<h4>Beginners Chen Style Taichi Silk Reeling (Winter 2015)</h4>
		<div class="time">Wednesdays 7:30pm - 8:30pm, starting January 7, 2015</div>
		<div class="instructors">Instructor: Master Yijiao Hong</div>

	    <div class="description">
		<p>Master Yijiao Hong will cover authentic Chen Taichi Silk Reeling and Qigong warm-ups from Traditional Chinese Medicine,
		giving in-depth, step-by-step instruction and using the latest in physical learning science. This class will emphasize the skills of self-centering, body relaxation, and slow breathing as you practice form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way.</p> 

		<p>Enrollment limited to 15 students.</p>
		</div>

		<div class="tuition">Tuition: <strong>$160</strong>, plus $50 for registration and uniforms</div>
	</div>
	    
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>

<div class="photobar czl">
	<div class="inner">
		<h2><span>Grandmaster Chen Zhenglei</span></h2>
	</div>
</div>
<div class="solidbar" id="czl">
	<div class="primary">
	<h3>Chen Zhenglei Seattle Seminar</h3>
	
	<p>Stay tuned for information about Grandmaster Chen ZhengLei's next Taichi Seminar</p>

{#	
    <div class="class">
    	
        <h4>Chen Taichi Qigong and Silk Reeling <span class="cost">$50</span></h4>
        <div class="datetime">
        	<span class="date">
                <span class="day">Thursday</span> 
                <span class="month">Sept</span>
                <span class="mdate">12</span> 
            </span>
            <span class="time">7:00pm-9:00pm</span>
        </div>
        
        <div class="description">
        <p>This seminar is a must for anyone who has no taichi experience, or is at beginner or intermediate level. An advanced practitioner will also be able to deepen his or her taichi foundation.</p>
        </div>
        
        <div class="location">Location: Chinese Wushu &amp; Taichi Academy LLC, 709 &frac12; S. King Street, Seattle, WA 98104</div>
    </div>
	
    <div class="class">
        <h4>Chen Taichi Broadsword <span class="cost">$60</span></h4>
        <div class="datetime">
        	<span class="date">
                <span class="day">Friday</span> 
                <span class="month">Sept</span>
                <span class="mdate">13</span> 
            </span>
            <span class="time">7:00pm-9:00pm</span>
        </div>
        
        <div class="description">
        <p>This seminar is for the intermediate and above level Chen Taichi practitioner, or for those who have several years of martial arts experience. </p>
        </div>
        
        <div class="location">Location: Chinatown Community Center Gymnasium, 719 8<sup>th</sup> Ave S, Seattle, WA 98104</div>
    </div>
    
    <div class="class">
        <h4>Old Frame One <span class="cost">$150</span></h4>
        <div class="datetime">
	        <span class="date">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span>
                <span class="mdate">14</span> 
            </span>
            <span class="time">9:30am-4:30pm</span>
        </div>
        
        <div class="description">
        <p>This seminar is for all Chen Taichi practitioners who are learning, or have already learned Old Frame One. Old Frame One is the foundation of all Chen Taichi forms. Reviewing the form with Grandmaster Chen is a deeply rewarding experience, even for those who are already adept at the form. </p>
        </div>
        
        <div class="location">Location: Chinatown Community Center Gymnasium, 719 8<sup>th</sup> Ave S, Seattle, WA 98104</div>
    </div>
    
    
    <div class="class">
        <h4>New Frame One <span class="cost">$180</span></h4>
        <div class="datetime">
	        <span class="date">
                <span class="day">Sunday</span> 
                <span class="month">Sept</span>
                <span class="mdate">15</span> 
            </span>
	        <span class="time">9:30am-4:30pm</span>
        </div>
        
        <div class="description">
        <p>This seminar is for Chen Taichi practitioners who have already learned at least Old Frame One. This is a must for all advanced Taichi students!</p>
        </div>
        
        <div class="location">Location: Chinatown Community Center Gymnasium, 719 8<sup>th</sup> Ave S, Seattle, WA 98104</div>
    </div>
    
    <div class="class">
        <h4>Old Frame Two <span class="cost">$60</span></h4>
        <div class="datetime">
        	<span class="date">
                <span class="day">Monday</span> 
                <span class="month">Sept</span>
                <span class="mdate">16</span>
            </span>
            <span class="time">7:00pm-9:00pm</span>
        </div>
        
        <div class="description">
        <p>This seminar is for taichi students who already know Old Frame One, and who are learning or have already learned Old Frame Two.</p>
        </div>
        
        <div class="location">Location: Chinatown Community Center Gymnasium, 719 8<sup>th</sup> Ave S, Seattle, WA 98104</div>
    </div>
    
    </div>
    
    
    <div class="secondary">
		<h3>Fees</h3>
		<div class="sidebar-content">
			<p>All fees are due by August 23, 2013. A $20 late fee applies for each class. Please make your check payable to Chinese Wushu &amp; Taichi Academy LLC, and mail it with your <a href="/images/CWTA_registration_form.pdf">registration form</a> to 709 &frac12; S. King Street, WA 98104.</p>
			
		</div>
        
        <h3>Location</h3>
		<div class="sidebar-content" id="locationInfo">
        	
            <div id="thursdayClass">
        	<p><strong>Thursday's ckass</strong> (Sept. 12) will be held at the Chinese Wushu &amp; Taichi Academy LLC headquarters, <a href="https://maps.google.com/maps?q=709+%C2%BD+S.+King+Street,+Seattle,+WA+98104&hl=en&ie=UTF8&sll=47.600984,-122.323151&sspn=0.02804,0.042872&hq=709+%C2%BD+S.+King+Street,&hnear=Seattle,+Washington+98104&t=m&z=16" target="_blank">709 &frac12; S. King Street, Seattle, WA 98104</a></p>
            <div class="map"><a href="https://maps.google.com/maps?q=709+%C2%BD+S.+King+Street,+Seattle,+WA+98104&hl=en&ie=UTF8&sll=47.600984,-122.323151&sspn=0.02804,0.042872&hq=709+%C2%BD+S.+King+Street,&hnear=Seattle,+Washington+98104&t=m&z=16" target="_blank">&nbsp;</a></div>
            </div>
            
            <div id="otherClasses">
            <p><strong>All other classes</strong> (Friday-Monday, Sept. 13-16) will be held at the Chinatown Community Center Gymnasium, <a href="https://maps.google.com/maps?q=719+8th+Ave+S,+Seattle,+WA+98104&hl=en&sll=47.596295,-122.32049&sspn=0.028043,0.042872&gl=us&hnear=719+8th+Ave+S,+Seattle,+King,+Washington+98104&t=m&z=17" target="_blank">719 8th Ave S, Seattle, WA 98104</a></p>
            <div class="map"><a href="https://maps.google.com/maps?q=719+8th+Ave+S,+Seattle,+WA+98104&hl=en&sll=47.596295,-122.32049&sspn=0.028043,0.042872&gl=us&hnear=719+8th+Ave+S,+Seattle,+King,+Washington+98104&t=m&z=17" target="_blank">&nbsp;</a></div>
			</div>
		</div>
#}

    </div>
    <div class="breaker">&nbsp;</div>

</div>

{% endblock %}

{% block htmlFooter %}

{{ super() }}

<script>

$(window).scroll(function () {
	updateNavbar();
});

$(window).resize(function () {
	updateNavbar();
});


updateNavbar();

</script>

{% endblock %}
