{% extends "base.html" %}

{% block title %}Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}homepage{% endblock %}

{% block contentHeader %}
<div class="photobar title navbar-top">
	<div class="inner">
		<div id="largelogo">
			<img src="images/logo_chars.png" />
			<h1>Chinese Wushu &amp;<br/> Taichi Academy</h1>
		</div>
		
		<div class="blurb"><p>
		The Chinese Wushu &amp; Taichi Academy was established by 
		Master Yijiao Hong in 1996. For over a decade, CWTA has 
		fostered thousands of students, teaching them Taichi 
		and Wushu. Master Hong has trained students in Wushu and 
		Taichi throughout the metropolitan Seattle/Tacoma area. 
		Master Hong also offers seminars and workshops to Seattle 
		area elementary schools, high schools, universities, 
		and corporations.
		</p></div>
	</div>
	{% block navbar %}{{ super() }}{% endblock %}
</div>
{% endblock %}

{% block content %}

<div class="photobar czl">
	<div class="inner">
		<h2><span>Grandmaster Chen Zhenglei</span></h2>
	</div>
</div>
<div class="solidbar" id="czl">
	<div class="primary">
	<h3>Summer Camp and Special Events</h3>
	
	<p class="coverImage">
		<img src="images/czl-seminar-2016.jpg">
	</p>

	
	<p>Grandmaster Chen's January seminar was a great success, with more than 100 Taichi practitioners attending. We're thrilled to be able to say he will be back in Seattle at the end of May/early June 2016 for Summer Camp and special events.</p>

	<div class="class">
		<h4>&quot;The Light of Taichi&quot; Summer Camp, Hosted by Grandmaster Chen Zhenglei</h4>
		<span class="time">May 28-31, 2016</span>
		<div class="description">Held at International District Community Center Gym</div>
	</div>

	<div class="class">
		<h4>The Development and Health Benefits of Chinese Tai Chi</h4>
		<div class="subtitle">A Lecture by Grandmaster Chen Zhenglei</div>
		<div class="subtitle"><span class="leader">Followed by</span> Performances of Wushu &amp; Taichi</div>
		<span class="time">Wednesday June 1, 2016, 6pm-8pm</span>
		<div class="description">Held at Kane Hall, University of Washington</div>

		<p><strong>Chinese Wushu &amp; Taichi Academy LLC</strong> is honored to co-host Grandmaster Chen Zhenglei’s lecture on Wednesday, June 1st in Kane Hall on UW Seattle Campus, through partnership with the Confucius Institute of the State of Washington and Chen Zhenglei Tai Chi Training Center. On the occasion of celebrating the 20th anniversary of the Chinese Wushu &amp; Taichi Academy and the closing ceremony of Grandmaster Chen’s &quot;The Light of Tai Chi&quot; 2016 summer camp, GM Chen will be presenting a lecture and bring his disciples and students to perform at the University of Washington!  In addition, the China Queen of Taichi &mdash; Master Gao Jiamin, with 6.8 million viewers on YouTube &mdash; will demonstrate in this special occasion too. The lecture and performances are free and open to the public with online registration at  XXXXXX. Seats are limited and early registration is greatly encouraged.</p>

		<p><strong>Grandmaster Chen Zhenglei</strong> is a world renowned 11<sup>th</sup> Generation direct line inheritor of Chen Taichi, and a 19<sup>th</sup> Generation Chen Family descendant. He is officially accredited as one of the Top Ten Contemporary Chinese Wushu Masters, certified at the level of 9th Duan, a board member of Chinese Wushu Association and a member of the expert panel of Chinese Wushu Research Institute. Grandmaster Chen has published dozens of books and videos that are translated into many languages and have benefited millions of Taichi enthusiast all over the world. He takes the task of promoting Taichi culture worldwide as his inherited obligation.</p>
	</div>

	<div class="sponsorInfo">
		<p>Co-hosted by</p>
		<ul>
			<li>Confucius Institute of UW</li>
			<li>Chen Zhenglei Taichi Training Center, China</li>
			<li>Chinese Wushu &amp; Taichi Academy LLC</li>
		</ul>

		<p>Special guest: Master Jiamin Gao, &quot;The Taichi Queen of China&quot;</p>
	</div>

    </div>
    <div class="breaker">&nbsp;</div>

</div>




<div class="photobar news">
	<div class="inner">
		<h2><span>News</span></h2>
	</div>
</div>
<div class="solidbar" id="news">
	<div class="primary">
	<h3>New Beginners Chen Taichi Class, Starting April 18, 2016</h3>

	<div class="class">
		<h4>Beginners Chen Style Taichi</h4>
		<div class="time">Monday 7:30pm - 8:30pm, April 18 to June 26, 2016. <strong>Twelve</strong> week first semester, then ongoing</div>
		<div class="instructors">Instructor: Master Yijiao Hong</div>

	    <div class="description">
    	<p>Master Hong will give in-depth, step-by-step instruction on authentic Chen Style Taichi Silk Reeling movements and Qigong warm-ups from Traditional Chinese Medicine, using the latest in physical learning science. Master Hong will also talk about how Taichi originated from ancient Chinese philosophy and Chinese medicine. This class will emphasize the skills of self-centering, body relaxation, and slow breathing while practicing form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way.</p>

    	<p><strong>Taichi is an ideal aerobic exercise for a lifetime</strong>. Do you know that practicing Taichi maintains spine health and increases bone density? It is beneficial to the cardio-vascular, respiratory, nervous, and digestive system, and also improves balance and circulation of Chi. Master Hong's long-term Taichi students report that practicing Taichi helps alleviate hypertension, asthma, knee pain, and stress, while also improving mental acuity, physical strength and overall happiness.
		</p>

		<p>Enrollment limited to 15 students.</p>
		</div>

		<div class="tuition">Tuition: <strong>$165</strong>, plus $50 for t-shirt and registration</div>
	</div>

	<h3>New Beginners Yang Taichi Class, Starting July 20, 2016</h3>

	<div class="class">
		<h4>Beginners Yang Style Taichi</h4>
		<div class="time">Wednesday 10:30am - 11:30am, July 20 to September 21, 2016. Ten week first semester, then ongoing</div>
		<div class="instructors">Instructor: Master Yijiao Hong</div>

	    <div class="description">
		<p>Master Hong will give in-depth, step-by-step instruction on authentic Yang Style Taichi 24 form movements and Qigong warm-ups from Traditional Chinese Medicine, using the latest in physical learning science. Master hong will also talk about how Taichi originated from ancient Chinese philosophy and Chinese medicine. This class will emphasize the skills of self-centering, body relaxation, and slow breathing while practicing form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way. </p> 

		<p>Enrollment limited to 15 students.</p>
		</div>

		<div class="tuition">Tuition: <strong>$165</strong>, plus $50 for t-shirt and registration</div>
	</div>

	<h3>Learn Yang Style Taichi 24 Forms Online</h3>
    <p>Learn and review Yang Style Taichi 24 Forms from international Taichi Grand Champion Yijiao Hong.</p>
    
	
    <h4>24 Forms, in Two Views</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/94098687" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="http://vimeo.com/94098687">View on Vimeo</a></p>
    </div>

    <h4>24 Forms, in Forest</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/95477026" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <p><a href="http://vimeo.com/95477026">View on Viemo</a></p>
    </div>
    
    
	    
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>



<div class="photobar about">
	<div class="inner">
		<h2><span>Master Yijiao Hong</span></h2>
		
		<div class="blurb">
		<p>Master Yijiao Hong is a 12th generation disciple of 
		Chen Style Taichi, studying under Chen family successor 
		and world-renown Grandmaster Chen Zhenglei since 1998. 
		She studied Yang Taichi from Yang family successor and 
		world-renown Grandmaster Fu Shengyuan since 1995.</p>
		
		<p>Master Hong currently offers classes for <a href="/chen">Chen 
		Taichi</a> and <a href="/yang">Yang Taichi</a>.</p>
		
		<p>&rsaquo; <a href="/classes">View Current Class Schedule</a></p>
		</div>
	</div>
</div>
<div class="solidbar" id="about">
	<div class="primary">
		<p><span class="initial-first-word">Born</span> in Jin Hua, China, Master Hong started practicing 
		Wushu with the Jin Hua Wu Shu Team when she was 8 years old. 
		She was the top Wushu athlete and Taichi champion in Zhe 
		Jiang province, China. Master Hong has a B.A. degree in 
		physical education in Wushu and Taichi from Zhejiang 
		Normal University, China. She became an assistant professor 
		and team coach of Zhejiang College of Traditional Chinese 
		Medicine in 1992. She coached the college Wushu and Taichi 
		Team and competed in China national tournaments until she 
		immigrated to Seattle, U.S. in 1994.</p>
	
		<p>Master Hong was named U.S. &quot;Year of the Athlete&quot; by USAWKF 
		in 1998, and competed on the U.S.A National Wushu Team in 
		the 5th World Wushu championship in Hong Kong in 1999, 
		where she ranked 7th among the top world professional 
		Taichi athletes.</p>
	
		<p>In 2000, Master Hong was certified by the International 
		Wushu Federation in Beijing, China as a Wushu International 
		Judge. In 2004, Master Hong earned the highest rank as a 
		Wushu International A Grade Judge in Beijing. Between 1999 
		and 2003, she judged for selection of National Wushu Teams 
		for both the U. S. A. and Canada.</p>
	
		<p>Master Hong's passion in Taichi originated from her 
		late teenage years at University, especially after she 
		studied Chinese Medicine for two years and visited Madam 
		Chen Lixing in Xian, China Master Hong's strong belief in 
		Taichi's therapeutic value in life and Taichi's powerful 
		martial application is a constant source of inspiration for 
		her. Master Hong is a lifetime student of Taichi Yang 
		family from Grandmaster Fu Shengyuan and Chen family from 
		Grandmaster Chen Zhenglei, Chen village, China.</p>
	
		<p>Currently, Master Hong is focusing her teaching on Taichi. 
		In addition, she practices Guzheng &mdash; ancient strings, and 
		spends time with her two young children. Her former wushu 
		students are continuing their practice of Wushu at the Seattle 
		Wushu Center, UW Husky Wushu Team, and Northwest Wushu.</p>
	
		<p>Read more <a href="/instructors">about Master Hong</a></p>
	</div>
		
	<div class="secondary">
		<h3>Student Testimonials</h3>
		
		{% set truncatedTestimonials=true %}
		{% include 'testimonials-inc.html' %}
		
		<p class="more">Read more <a href="/instructors#student_testimonials">Student Testimonials</a></p>
		
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>




{% endblock %}

{% block htmlFooter %}

{{ super() }}

<script>

$(window).scroll(function () {
	updateNavbar();
});

$(window).resize(function () {
	updateNavbar();
});


updateNavbar();

</script>

{% endblock %}
