{% extends "base.html" %}

{% block title %}Chinese Wushu &amp; Taichi Academy{% endblock %}

{% block pageId %}homepage{% endblock %}

{% block contentHeader %}
<div class="photobar title navbar-top">
	<div class="inner">
		<div id="largelogo">
			<img src="images/logo_chars.png" />
			<h1>Chinese Wushu &amp;<br/> Taichi Academy</h1>
		</div>
		
		<div class="blurb">
			<p>
			Master Yijiao Hong founded the Chinese Wushu &amp; Taichi Academy LLC in 1996. Master Hong has
			over 33 years of teaching experience both in China and the US. She is the former assistant professor of
			ZheJiang University of Traditional Chinese Medicine, a 12th generation descendant of Chen
			Style Taichi, and an in-chamber disciple of GM Chen Zhenglei. Classes offer authentic Chen and Yang
			Style Taichi, Qigong, push hands drilling, as well as bare hands and various short and long weapons forms.
			Classes are divided and leveled to keep class sizes small, for personalized, step-by-step learning. Master
			Hong's teaching mission is to cultivate students' home practice habits for maintaining a healthy
			body, mind and quality of life
			<a href="instructors">Learn more</a>
			</p>

			<p>Classes held at Seattle and Mercer Island</p>
		</div>
	</div>
	{% block navbar %}{{ super() }}{% endblock %}
</div>
{% endblock %}

{% block content %}

<div class="photobar czl">
	<div class="inner">
		<h2><span>Grandmaster Chen Zhenglei</span></h2>
	</div>
</div>
<div class="solidbar" id="czl">
	<div class="primary">
	<h3>Pictures and Video from &quot;The Light of Taichi&quot; Summer Camp</h3>
	
	<p>Chinese Wushu &amp; Taichi Academy LLC hosted Grandmaster Chen Zhenglei's 2016 &quot;The Light of Taichi&quot; Summer Camp.</p>

	<a class="coverImage" href="/czl2016">
		<h3>See all pictures &amp; videos &rsaquo;</h3>
		<img src="images/czl2016/IMG_2562.jpg"/>
	</a>

    </div>
    <div class="breaker">&nbsp;</div>

</div>


<div class="photobar news">
	<div class="inner">
		<h2><span>News</span></h2>
	</div>
</div>
<div class="solidbar" id="news">
	<div class="primary">

	<div class="covid-warning"><strong>During the COVID-19 pandemic, all classes are being held online</strong>. When safe, classes will be held at Seattle HQ, except those noted at Mercer Island</div>

	<h3>Private Seminars</h3>
		<p>Interested in Taichi seminars for a corporation, academic institution, or community center? Please email Master YiJiao Hong at <a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a>.</p>


	<div class="class-list">

		<h3>New Beginners Classes for 2021-2022</h3>
		
		<!-- p class="covid-bold">Contact Master Hong at <a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a> for class online address and payment online</p -->
		<div class="announce-warning">
			<p>Currently Yi Jiao Hong is not enrolling any beginners. For other level Taichi classes, please visit the <a href="/classes.html">class schedule page</a></p>

			<p>For beginners Yang style taichi private lessons, please contact James Guidon at 206-527-0144.</p>

			<p>For beginners Yang or Chen style taichi private lessons and beginners group classes please 
				contact Viola Brumbaugh at Wise Orchid Taijiquan & Qigong <a href="mailto:wiseorchidmartialarts@gmail.com">wiseorchidmartialarts@gmail.com</a> 206-321-0613</p>
		</div>

		<!-- div class="class">
			<h4>Yang Style Taichi for Beginners</h4>
			<div class="time">Tuesday 7:00pm-8:00pm <span class="startDate">(starting Jan. 5, 2021)</span></div>
			<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
			<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
			<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
		</div>

		<div class="class">
			<h4>Chen Style Taichi for Beginners</h4>
			<div class="time">Monday 7:30pm - 8:30pm <span class="startDate">(starting Apr. 5, 2021)</span></div>
			<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
			<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
			<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
		</div>

		<div class="class">
			<h4>Yang Style Taichi for Beginners</h4>
			<div class="time">Wednesdays 9:30am-10:30am <span class="startDate">(starting Jul. 7, 2021)</span></div>
			<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
			<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
			<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
		</div>

		<div class="class">
			<h4>Chen Style Taichi for Beginners</h4>
			<div class="time">Wednesdays 6:00pm - 7:00pm <span class="startDate">(starting Oct. 6, 2021)</span></div>
			<div class="location"><label>Location:</label> <strong class="covid-bold">Online during COVID-19</strong>, afterwards 709 &frac12; King St, Seattle</div>
			<div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
			<div class="tuition"><label>Tuition:</label> <strong>$200 (10 weeks)</strong>, plus $50 for t-shirt and registration. Discount of $50 for new online students.</div>
		</div -->

	</div>

	<div class="description">
		<p>
		<img src="/images/czl2016_seminar_DSC_0007.jpg" width="100%" />
		</p>

		<p>Welcome to Yijiao Hong's taichi class! Begin a lifelong journey of destressing through correct body posture, authentic Taichi moves, and slow, even and deeper breaths to a calm mind and better health. Have fun with Chinese cultural experiences too! Master Hong will give in-depth, step-by-step instruction on authentic Yang and Chen Taichi movements and Qigong warm-ups from Traditional Chinese Medicine, using the latest in physical learning science. Master Hong will also talk about how Taichi originated from ancient Chinese philosophy, Chinese medicine and Qigong. The beginning class will emphasize the skills of self-centering, body relaxation, and slow breathing while practicing form movements. You can expect increased flexibility, leg strength, coordination, and balance, as well as learning to be relaxed in an energetic way.</p> 

		<p>
		<strong>Taichi is an ideal aerobic exercise for life time. </strong>
		Do you know that practicing Taichi maintains spine health and increases bone density? It is beneficial to the cardio-vascular, respiratory, and nervous systems, digestive system, balance and also improves circulation of Chi. Master Hong's long-term Taichi students report that practicing Taichi helps alleviate hypertension, asthma, knee pain, and stress, while also improving mental, body strength and overall happiness.
		</p>
		
	</div>


	<div class="registerNow">
	<h4>Space Is Limited for Beginners Classes</h4> 
	<p>Secure your spot by registering now:</p>
	<ol>
		<li>Fill in the <a href="images/CWTA_registration_form.pdf">registration form</a> and make your check payable to CWTALLC.</li> 
		<li>Mail to Chinese Wushu &amp; Taichi Academy LLC, 709 &frac12; S. King Street, Seattle WA 98104</li>
	</ol>
	</div>


	<h3>Follow Online: Chen Taichi Warmup Exercises</h3>
	<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/mJqr5HC2EyI" frameborder="0" allowfullscreen></iframe></p>

	<h3>Learn Yang Style Taichi 24 Forms Online</h3>
    <p>Learn and review Yang Style Taichi 24 Forms from international Taichi Grand Champion Yijiao Hong.</p>
    
	
    <h4>24 Forms, in Two Views</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/94098687" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="http://vimeo.com/94098687">View on Vimeo</a></p>
    </div>

    <h4>24 Forms, in Forest</h4>
    <div class="trailer">
    <iframe src="//player.vimeo.com/video/95477026" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    <p><a href="http://vimeo.com/95477026">View on Vimeo</a></p>
    </div>
    
    
	    
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>



<div class="photobar about">
	<div class="inner">
		<h2><span>Master Yijiao Hong</span></h2>
		
	</div>
</div>
<div class="solidbar" id="about">
	<div class="primary">
		<p><span class="initial-first-word">Born</span> in Jin Hua, China, Master Hong started practicing 
		Wushu with the Jin Hua Wu Shu Team when she was 8 years old. 
		She was the top Wushu athlete and Taichi champion in Zhe 
		Jiang province, China. Master Hong has a B.A. degree in 
		physical education in Wushu and Taichi from Zhejiang 
		Normal University, China. She became an assistant professor 
		and team coach of Zhejiang College of Traditional Chinese 
		Medicine in 1992. She coached the college Wushu and Taichi 
		Team and competed in China national tournaments until she 
		immigrated to Seattle, U.S. in 1994.</p>
	
		<p>Master Hong was named U.S. &quot;Year of the Athlete&quot; by USAWKF 
		in 1998, and competed on the U.S.A National Wushu Team in 
		the 5th World Wushu championship in Hong Kong in 1999, 
		where she ranked 7th among the top world professional 
		Taichi athletes.</p>
	
		<p>In 2000, Master Hong was certified by the International 
		Wushu Federation in Beijing, China as a Wushu International 
		Judge. In 2004, Master Hong earned the highest rank as a 
		Wushu International A Grade Judge in Beijing. Between 1999 
		and 2003, she judged for selection of National Wushu Teams 
		for both the U. S. A. and Canada.</p>
	
		<p>Master Hong's passion in Taichi originated from her 
		late teenage years at University, especially after she 
		studied Chinese Medicine for two years and visited Madam 
		Chen Lixing in Xian, China Master Hong's strong belief in 
		Taichi's therapeutic value in life and Taichi's powerful 
		martial application is a constant source of inspiration for 
		her. Master Hong is a lifetime student of Taichi Yang 
		family from Grandmaster Fu Shengyuan and Chen family from 
		Grandmaster Chen Zhenglei, Chen village, China.</p>
	
		<p>Currently, Master Hong is focused on teaching Taichi. 
		In addition, she practices Guzheng (an ancient string 
		instrument), and enjoys traveling around world with family 
		to experience worldwide different culture.</p>
	
		<p>Read more <a href="/instructors">about Master Hong</a></p>
	</div>
		
	<div class="secondary">
		<h3>Student Testimonials</h3>
		
		{% set truncatedTestimonials=true %}
		{% include 'testimonials-inc.html' %}
		
		<p class="more">Read more <a href="/instructors#student_testimonials">Student Testimonials</a></p>
		
	</div>
	
	<div class="breaker">&nbsp;</div>
</div>




{% endblock %}

{% block htmlFooter %}

{{ super() }}

<script>

$(window).scroll(function () {
	updateNavbar();
});

$(window).resize(function () {
	updateNavbar();
});


updateNavbar();

</script>

{% endblock %}
