{% for year, classList in newClasses | dictsort %}

    <h3>New Beginners Classes for {{ year }}</h3>

    {% for class in classList %}    
    <div class="class">
        <h4>{{ class['name'] }}</h4>
        <div class="time">{{ class.startDate.strftime('%A %-I:%M%p') }}-{{ class.endTime.strftime('%-I:%M%p') }} <span class="startDate">(starting {{ class.startDate.strftime('%b. %-d, %Y') }})</span></div>
        <div class="instructors"><label>Instructor:</label> {{ class.instructor }}</div>
        <div class="tuition"><label>Tuition:</label> <strong>${{ class.tuition }} ({{ class.tuitionNotes }})</strong></div>
    </div>
    {% endfor %}

{% endfor %}
