{% for year, classList in newClasses | dictsort %}

    <h3>Two Yang Style Tai Chi 24 Forms Beginners classes are continuing to enroll new beginning students until December 2025</h3>

    <div class="class">
        <h4>Two Yang Style Tai Chi 24 Forms for Beginners</h4>
        <div class="time">Mondays 9:30am-10:30am, and 10:30am-11:30am</div>
        <div class="instructors"><label>Instructor:</label> Master Yijiao Hong</div>
        <div class="tuition">If you are a beginner and want to take Yang style Tai Chi classes on 
            Monday mornings, please email Master Hong at <a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a></div>
    </div>
    
    <h3>New Beginners Classes for {{ year }}</h3>

    {% for class in classList %}    
    <div class="class">
        <h4>{{ class['name'] }}</h4>
        <div class="time">{{ class.startDate.strftime('%A %-I:%M%p') }}-{{ class.endTime.strftime('%-I:%M%p') }} <span class="startDate">(starting {{ class.startDate.strftime('%b. %-d, %Y') }})</span></div>
        <div class="instructors"><label>Instructor:</label> {{ class.instructor }}</div>
        <div class="tuition"><label>Tuition:</label> <strong>${{ class.tuition }} ({{ class.tuitionNotes }})</strong></div>
    </div>
    {% endfor %}

{% endfor %}
