{% for year, classList in newClasses | dictsort %}
    
    <h3>New Beginners Classes for {{ year }}</h3>

    {% for class in classList %}    
    <div class="class">
        <h4>{{ class['name'] }}</h4>
        <div class="time">{{ class.startDate.strftime('%A %-I:%M%p') }}-{{ class.endTime.strftime('%-I:%M%p') }} <span class="startDate">(starting {{ class.startDate.strftime('%b. %-d, %Y') }})</span></div>
        <div class="instructors"><label>Instructor:</label> {{ class.instructor }}</div>
        <div class="tuition"><label>Tuition:</label> <strong>${{ class.tuition }} 
            {% if class.tuitionNotes %}({{ class.tuitionNotes }}){% endif %}
        </strong></div>
    </div>
    {% endfor %}

    <h3>Free International Taijiquan Day Seminar on March 21</h3>
    <p>3月21日是世界太极拳日</p>
    <p>March 21 is recognized by UNESCO as International Taijiquan Day. To celebrate Asian American 
        Heritage Month, our annual public free &quot;Tai Chi in the Park&quot; will be on Saturday, 
        May 30, 2026, from 4pm-5:30pm at Mercerdale Park, Mercer Island, WA 98040.</p>
{% endfor %}
