<h3>Payment &amp; Registration</h3>

<p>Payment is due before the end of the previous quarter. Payments
	received after the due date are subject to a $30 late fee.</p>

<p class="warning">Please note: no refund / minimum one quarter commitment</p>

<div class="registration">
	<p>To register, fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSd6G-PrB8X2RERTQHjJM93yrtpg8TEqbRoDt0vm5utZJ4zGfg/viewform?usp=dialog">registration form</a> and send payment via <strong>Zelle</strong> app to 2067499513</p>

	<p>
	To register by mail, send a completed <a href="/images/CWTA_registration_form.docx">registration form</a>, and a check payable to &quot;CWTA LLC&quot; to:
		<address>
			Chinese Wushu &amp; Taichi Academy LLC <br/>
			2827 80th Ave SE<br/>
			Mercer Island, WA 98040
		</address>
	</p>

	<p><a href="#contact">Contact us with any questions.</a></p>
</div>
