<h3>Payment &amp; Registration</h3>


<div class="registration">
	<p>To register, email a completed <a href="/images/CWTA_registration_form.docx">registration form</a> to <a href="mailto:yijiao@chinesewushutaichi.com">yijiao@chinesewushutaichi.com</a> and send payment via <strong>Zelle</strong> app to 2067499513</p>

	<p>
	To register by mail, send a completed <a href="/images/CWTA_registration_form.docx">registration form</a>, and a check payable to &quot;CWTA LLC&quot; to:
		<address>
			Chinese Wushu &amp; Taichi Academy LLC <br/>
			2827 80th Ave SE<br/>
			Mercer Island, WA 98040
		</address>
	</p>

	<p><a href="#contact">Contact us with any questions.</a></p>
</div>
