# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.yijiaowushu.com
AuthUserFile /www/htdocs/domains/s8/01255/www.yijiaowushu.com/webdocs/_vti_pvt/service.pwd
AuthGroupFile /www/htdocs/domains/s8/01255/www.yijiaowushu.com/webdocs/_vti_pvt/service.grp
